<!-- PRICE -->
<section class="price">
    <div class="container-price">
        <h2 class="visually-hidden">Price</h2>
        <ul class="price-list list">
            <hr>
            <li class="price-title">
                <img src="" alt="" class="">
                <p class="price-text">Chairs</p>
                <p class="price-cena">from 200₴</p>
            </li>
            <hr>
            <li class="price-title">
                <img src="" alt="" class="">
                <p class="price-text">Tables</p>
                <p class="price-cena">from 250₴</p>
            </li>
            <hr>
            <li class="price-title">
                <img src="" alt="" class="">
                <p class="price-text">Dressers</p>
                <p class="price-cena">from 300₴</p>
            </li>
            <hr>
            <li class="price-title">
                <img src="" alt="" class="">
                <p class="price-text">Sofas</p>
                <p class="price-cena">from 500₴</p>
            </li>
            <hr>
        </ul>
    </div>
</section>